<%- include('parts/html-head') %> <%- include('parts/navbar') %>

<div class="cmtArea container mx-auto mt-5">
  <div class="cmtModule">
    <div class="cmtModuleHead row align-items-center">
      <h5 class="cmtTitle pr-2">留言</h5>
      <span class="cmtCount">124</span>
    </div>
    <div class="writeBox">
      <div class="writeBoxLogged">
        <form>
          <fieldset>
            <legend class="ghost">留下評論</legend>
            <div>
              <div class="userProfile">
                <span class="userId" style="display: none">使用者Id:xxxxx</span>
                <span class="userNickname" style="display: none"
                  >使用者暱稱:BigJohn</span
                >
              </div>
              <div class="writeCmt">
                <textarea
                  class="cmtTextarea"
                  name="cmtTextarea"
                  id="cmtTextarea"
                  cols="30"
                  rows="3"
                ></textarea>
                <label for="cmtTextarea" style="z-index: 10">請留下評論</label>
              </div>
              <div class="cmtSendBox">
                <button type="button" class="cmtSendBtn">
                  <span class="material-icons"> add_circle </span>
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="cmtSortOption d-flex align-items-center">
      <ul class="cmtSortOptionList">
        <li class="pr-3">
          <span class="material-icons align-bottom">whatshot</span
          ><span class="align-bottom">依人氣排序</span>
        </li>
        <li class="">
          <span class="material-icons align-bottom"> sort </span
          ><span class="align-bottom">依發表新舊</span>
        </li>
      </ul>
    </div>

    <div class="cmtContainer">
      <ul class="cmtList">
        <li>
          <div class="cmtBox">
            <% for(let i of rows){ %>
            <div class="cmtBoxArea">
              <div class="cmtInfo d-flex align-items-center">
                <div class="userHeadIcon mr-2"></div>
                <div class="cmtNickname mr-auto"><%= i.nickname %></div>
                <div class="cmtInfoDate"><%= i.postTime2 %></div>
              </div>
              <div class="cmtTextWrap">
                <span class="cmtBoxContent"><%= i.content %></span>
              </div>
              <div class="cmtTools d-flex align-items-center">
                <div class="cmtToolsBtn mr-auto">
                  <a href="#"
                    ><span class="pr-1">回應</span
                    ><span class="cmtReplyCount pr-1">(20)</span
                    ><span class="material-icons pr-3">
                      keyboard_arrow_down
                    </span></a
                  >

                  <span class="cmtAccuseLink">檢舉</span>
                </div>

                <div class="cmtToolsBtn pr-2">
                  <a href=""
                    ><span class="material-icons pr-1"> thumb_up_alt </span
                    ><span><%= i.upPoint %></span></a
                  >
                  <a href=""
                    ><span class="material-icons pr-1"> thumb_down_alt </span
                    ><span><%= i.downPoint %></span></a
                  >
                </div>
              </div>
            </div>
            <!-- 展開回應 -->
            <div class="cmtReply" style="">
              <ul class="cmtList">
                <li class="d-flex no-gutters">
                  <div class="cmtReplyIco d-flex justify-content-center col-1">
                    <img src="/img/return.svg" alt="" />
                  </div>
                  <div class="cmtBoxReplyArea col-11">
                    <div class="cmtInfo">
                      <span class="cmtNickname">Scofield</span
                      ><span class="cmtInfoDate">2020/10/26</span>
                    </div>
                    <div class="cmtTextWrap">
                      <span class="cmtBoxContent"
                        >感覺你在這邊聊天比較像你自己，很開心</span
                      >
                    </div>
                    <div class="cmtTools d-flex align-items-center">
                      <div class="cmtToolsBtn mr-auto">
                        <span class="cmtAccuseLink">檢舉</span>
                      </div>

                      <div class="cmtToolsBtn pr-2">
                        <a href=""
                          ><span class="material-icons pr-1">
                            thumb_up_alt </span
                          ><span>5566</span></a
                        >
                        <a href=""
                          ><span class="material-icons pr-1">
                            thumb_down_alt </span
                          ><span>56</span></a
                        >
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <% } %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<%- include('parts/scripts') %> <%- include('parts/html-foot') %>
